
<div class="houselist">

    <li class="removelistpoints" *ngFor="let furniture of furnituresbyhouses; let i = index">
    
        <mat-card class="housecard">
            <mat-card-header>
              <div mat-card-avatar class="example-header-image"></div>
              <mat-card-title></mat-card-title>
              <mat-card-subtitle class="Housename">{{furniture.furniture_name_type}}</mat-card-subtitle>
            </mat-card-header>
            <img mat-card-image src="data:image/png;base64,{{furniture.furnitureImage}}" alt="Photo of a furniture">
            <mat-card-content>
              <p>
                 Footage(sq.ft.): {{furniture.furnitureFootage}} | Cost: {{furniture.furniturePrice|currency}}
              </p>
            </mat-card-content>
            <mat-card-actions> 
                <button (click)="displayFurniturecountsByType(furniture.furniture_name_type)" (click)="clickindex = i" mat-raised-button> 
                  <div *ngIf="clickindex === i">{{furniturecountbytype}}</div>Inventory
                </button>              
            </mat-card-actions>
          </mat-card>
                    
    </li>
    <div class="backbutton">
      <button mat-stroked-button [routerLink] ="['']">Back</button>
    </div>
    
    </div>
   
    
   
